@model BuckTI.Models.InventarioMaquinas

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdMaquina" />
            <div class="form-group">
                <label asp-for="IdCliente" class="control-label"></label>
                <input asp-for="IdCliente" class="form-control" />
                <span asp-validation-for="IdCliente" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <label asp-for="IdSoftware" class="control-label"></label>
                <input asp-for="IdSoftware" class="form-control" />
                <span asp-validation-for="IdSoftware" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <label asp-for="IdSetor" class="control-label"></label>
                <input asp-for="IdSetor" class="form-control" />
                <span asp-validation-for="IdSetor" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <label asp-for="TipoMaquina" class="control-label"></label>
                <input asp-for="TipoMaquina" class="form-control" />
                <span asp-validation-for="TipoMaquina" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <label asp-for="NumeroMaquina" class="control-label"></label>
                <input asp-for="NumeroMaquina" class="form-control" />
                <span asp-validation-for="NumeroMaquina" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <label asp-for="StatusMaquina" class="control-label"></label>
                <input asp-for="StatusMaquina" class="form-control" />
                <span asp-validation-for="StatusMaquina" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <label asp-for="DescricaoMaquina" class="control-label"></label>
                <input asp-for="DescricaoMaquina" class="form-control" />
                <span asp-validation-for="DescricaoMaquina" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar a Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
