@{
    ViewData["Title"] = "Políticas de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<div class="polipriv">

<p><br /></p>

<p>Agradecemos por escolher utilizar nosso aplicativo web, desenvolvido para facilitar a gestão de clientes, setores, softwares e máquinas. A privacidade dos seus dados é uma prioridade para nós. Esta Política de Privacidade explica como coletamos, usamos, divulgamos e protegemos as informações que você nos fornece.</p>

<p><br /></p>

<h2>1. Informações Coletadas</h2>

<p>1.1 <strong>Informações de Cadastro:</strong> Para utilizar nosso aplicativo, você precisará se cadastrar, fornecendo informações como nome, endereço de e-mail e informações de contato.</p>

<p>1.2 <strong>Dados do Cliente:</strong> Ao usar o aplicativo para gerenciar clientes, podemos coletar informações relacionadas a eles, como nome, cargo, empresa e informações de contato.</p>

<p>1.3 <strong>Informações do Setor:</strong> Caso utilize a funcionalidade de gerenciamento de setores, podemos coletar dados relacionados à estrutura organizacional da sua empresa.</p>

<p>1.4 <strong>Dados de Software:</strong> Ao cadastrar softwares, podemos coletar informações sobre as ferramentas utilizadas, versões, licenças e outras informações relevantes.</p>

<p>1.5 <strong>Dados de Máquinas:</strong> Ao gerenciar máquinas, podemos coletar informações sobre os dispositivos, como modelo, especificações técnicas e histórico de manutenção.</p>

<p><br /></p>

<h2>2. Uso das Informações</h2>

<p>2.1 <strong>Fornecimento do Serviço:</strong> Utilizamos suas informações para fornecer os serviços do aplicativo, incluindo o gerenciamento de clientes, setores, softwares e máquinas.</p>

<p>2.2 <strong>Comunicações:</strong> Podemos usar suas informações para enviar notificações sobre o serviço, atualizações e informações relevantes.</p>

<p>2.3 <strong>Melhoria do Serviço:</strong> Analisamos dados de uso para aprimorar continuamente a funcionalidade e a experiência do usuário.</p>

    <p><br /></p>

<h2>3. Compartilhamento de Informações</h2>

<p>3.1 <strong>Parceiros de Serviço:</strong> Podemos compartilhar informações com parceiros de serviço para fornecer funcionalidades específicas do aplicativo.</p>

<p>3.2 <strong>Cumprimento da Lei:</strong> Em casos exigidos por lei, podemos divulgar informações para cumprir com processos legais.</p>

<p><br /></p>

<h2>4. Segurança</h2>

<p>4.1 <strong>Medidas de Segurança:</strong> Implementamos medidas de segurança para proteger suas informações contra acesso não autorizado, alteração, divulgação ou destruição não autorizada.</p>

<p><br /></p>

<h2>5. Seus Direitos</h2>

<p>5.1 <strong>Acesso e Atualização:</strong> Você tem o direito de acessar suas informações pessoais e corrigi-las quando necessário.</p>

<p>5.2 <strong>Exclusão de Conta:</strong> Se desejar encerrar sua conta, entre em contato conosco e suas informações serão excluídas, exceto quando necessário por motivos legais.</p>

<p><br /></p>

<h2>6. Alterações na Política de Privacidade</h2>

<p>6.1 <strong>Notificação de Alterações:</strong> Em caso de alterações nesta política, notificaremos você por meio do aplicativo ou por outros meios de contato fornecidos.</p>

<p><br /></p>

    <p><strong>Ao utilizar nosso aplicativo, você concorda com as práticas descritas nesta Política de Privacidade. Se tiver dúvidas ou preocupações, entre em contato conosco através dos canais disponíveis no aplicativo. Obrigado por confiar em nós para o gerenciamento seguro e eficiente de suas informações.</strong></p>

</div>